In [1]:
pip install pandasql

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandasql in c:\users\hafur\appdata\roaming\python\python311\site-packages (0.7.3)
Requirement already satisfied: numpy in i:\anacoda\lib\site-packages (from pandasql) (1.24.3)
Requirement already satisfied: pandas in i:\anacoda\lib\site-packages (from pandasql) (2.0.3)
Requirement already satisfied: sqlalchemy in i:\anacoda\lib\site-packages (from pandasql) (1.4.39)
Requirement already satisfied: python-dateutil>=2.8.2 in i:\anacoda\lib\site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in i:\anacoda\lib\site-packages (from pandas->pandasql) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in i:\anacoda\lib\site-packages (from pandas->pandasql) (2023.3)
Requirement already satisfied: greenlet!=0.4.17 in i:\anacoda\lib\site-packages (from sqlalchemy->pandasql) (2.0.1)
Requirement already satisfied: six>=1.5 in i:\anacoda\lib\site-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd
import csv

import pandasql as pdsql

In [3]:
df = pd.read_csv("COVID-19 Activity.csv", low_memory = False)
df.set_index('index', inplace = True)

C:\Users\hafur\AppData\Local\Temp\ipykernel_27692\3525925241.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("COVID-19 Activity.csv")

In [4]:
df['CONTINENT_NAME'].fillna(value = 'Others', inplace = True)

In [5]:
cont_ID_uni = pd.DataFrame({'CONTINENT_NAME': df['CONTINENT_NAME'].unique()})
cont_ID_uni['Cont_ID'] = cont_ID_uni['CONTINENT_NAME'].str[:2].str.upper() + pd.RangeIndex(start = 10, stop = 16, step = 1).astype(str)


cont_ID_uni.set_index('CONTINENT_NAME', inplace = True)

In [6]:
Big_DS = pd.merge(df, cont_ID_uni, how = 'left', on = 'CONTINENT_NAME')

In [7]:
Big_DS

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT,Cont_ID
0,19088,Delaware,Ohio,23-07-2021,America,New York Times,1,39041.0,USA,United States,US,11,138,AM10
1,19099,Delaware,Ohio,24-07-2021,America,New York Times,0,39041.0,USA,United States,US,11,138,AM10
2,19105,Delaware,Ohio,25-07-2021,America,New York Times,0,39041.0,USA,United States,US,6,138,AM10
3,19120,Delaware,Ohio,26-07-2021,America,New York Times,0,39041.0,USA,United States,US,15,138,AM10
4,19143,Delaware,Ohio,27-07-2021,America,New York Times,0,39041.0,USA,United States,US,23,138,AM10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,39396,Butte,California,11-03-2022,America,New York Times,0,6007.0,USA,United States,US,7,380,AM10
1048571,39396,Butte,California,12-03-2022,America,New York Times,0,6007.0,USA,United States,US,0,380,AM10
1048572,39396,Butte,California,13-03-2022,America,New York Times,0,6007.0,USA,United States,US,0,380,AM10
1048573,39428,Butte,California,14-03-2022,America,New York Times,4,6007.0,USA,United States,US,32,384,AM10
1048574,39434,Butte,California,15-03-2022,America,New York Times,1,6007.0,USA,United States,US,6,385,AM10

In [8]:
prov_ID_uni = pd.DataFrame({'PROVINCE_STATE_NAME' : df['PROVINCE_STATE_NAME'].unique()})
prov_ID_uni['PV_ID'] = prov_ID_uni['PROVINCE_STATE_NAME'].str[:2].str.upper() + "_" + pd.RangeIndex(len(df['PROVINCE_STATE_NAME'].unique())).astype(str)

prov_ID_uni.set_index('PROVINCE_STATE_NAME', inplace = True)

In [9]:
Big_DS = pd.merge(Big_DS, prov_ID_uni, how = 'left', on = 'PROVINCE_STATE_NAME')

In [10]:
Big_DS

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT,Cont_ID,PV_ID
0,19088,Delaware,Ohio,23-07-2021,America,New York Times,1,39041.0,USA,United States,US,11,138,AM10,OH_0
1,19099,Delaware,Ohio,24-07-2021,America,New York Times,0,39041.0,USA,United States,US,11,138,AM10,OH_0
2,19105,Delaware,Ohio,25-07-2021,America,New York Times,0,39041.0,USA,United States,US,6,138,AM10,OH_0
3,19120,Delaware,Ohio,26-07-2021,America,New York Times,0,39041.0,USA,United States,US,15,138,AM10,OH_0
4,19143,Delaware,Ohio,27-07-2021,America,New York Times,0,39041.0,USA,United States,US,23,138,AM10,OH_0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,39396,Butte,California,11-03-2022,America,New York Times,0,6007.0,USA,United States,US,7,380,AM10,CA_26
1048571,39396,Butte,California,12-03-2022,America,New York Times,0,6007.0,USA,United States,US,0,380,AM10,CA_26
1048572,39396,Butte,California,13-03-2022,America,New York Times,0,6007.0,USA,United States,US,0,380,AM10,CA_26
1048573,39428,Butte,California,14-03-2022,America,New York Times,4,6007.0,USA,United States,US,32,384,AM10,CA_26
1048574,39434,Butte,California,15-03-2022,America,New York Times,1,6007.0,USA,United States,US,6,385,AM10,CA_26

In [11]:
coun_ID_uni = pd.DataFrame({'COUNTY_NAME' : df['COUNTY_NAME'].unique()})
coun_ID_uni['COTY_ID'] = coun_ID_uni['COUNTY_NAME'].str[:2].str.upper() + pd.RangeIndex(len(df['COUNTY_NAME'].unique())).astype(str)

coun_ID_uni.set_index('COUNTY_NAME', inplace = True)

In [12]:
Big_DS = pd.merge(Big_DS, coun_ID_uni, how = 'left', on = 'COUNTY_NAME')

Big_DS

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT,Cont_ID,PV_ID,COTY_ID
0,19088,Delaware,Ohio,23-07-2021,America,New York Times,1,39041.0,USA,United States,US,11,138,AM10,OH_0,DE0
1,19099,Delaware,Ohio,24-07-2021,America,New York Times,0,39041.0,USA,United States,US,11,138,AM10,OH_0,DE0
2,19105,Delaware,Ohio,25-07-2021,America,New York Times,0,39041.0,USA,United States,US,6,138,AM10,OH_0,DE0
3,19120,Delaware,Ohio,26-07-2021,America,New York Times,0,39041.0,USA,United States,US,15,138,AM10,OH_0,DE0
4,19143,Delaware,Ohio,27-07-2021,America,New York Times,0,39041.0,USA,United States,US,23,138,AM10,OH_0,DE0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,39396,Butte,California,11-03-2022,America,New York Times,0,6007.0,USA,United States,US,7,380,AM10,CA_26,BU861
1048571,39396,Butte,California,12-03-2022,America,New York Times,0,6007.0,USA,United States,US,0,380,AM10,CA_26,BU861
1048572,39396,Butte,California,13-03-2022,America,New York Times,0,6007.0,USA,United States,US,0,380,AM10,CA_26,BU861
1048573,39428,Butte,California,14-03-2022,America,New York Times,4,6007.0,USA,United States,US,32,384,AM10,CA_26,BU861
1048574,39434,Butte,California,15-03-2022,America,New York Times,1,6007.0,USA,United States,US,6,385,AM10,CA_26,BU861

In [13]:
dt_ID_uni = pd.DataFrame({'DATA_SOURCE_NAME' : df['DATA_SOURCE_NAME'].unique()})
dt_ID_uni['DS_ID'] = dt_ID_uni['DATA_SOURCE_NAME'].str[:2].str.upper() + pd.RangeIndex(len(df['DATA_SOURCE_NAME'].unique())).astype(str)

dt_ID_uni.set_index('DATA_SOURCE_NAME', inplace = True)

In [14]:
Big_DS = pd.merge(Big_DS, dt_ID_uni, how = 'left', on = 'DATA_SOURCE_NAME')

Big_DS

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT,Cont_ID,PV_ID,COTY_ID,DS_ID
0,19088,Delaware,Ohio,23-07-2021,America,New York Times,1,39041.0,USA,United States,US,11,138,AM10,OH_0,DE0,NE0
1,19099,Delaware,Ohio,24-07-2021,America,New York Times,0,39041.0,USA,United States,US,11,138,AM10,OH_0,DE0,NE0
2,19105,Delaware,Ohio,25-07-2021,America,New York Times,0,39041.0,USA,United States,US,6,138,AM10,OH_0,DE0,NE0
3,19120,Delaware,Ohio,26-07-2021,America,New York Times,0,39041.0,USA,United States,US,15,138,AM10,OH_0,DE0,NE0
4,19143,Delaware,Ohio,27-07-2021,America,New York Times,0,39041.0,USA,United States,US,23,138,AM10,OH_0,DE0,NE0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,39396,Butte,California,11-03-2022,America,New York Times,0,6007.0,USA,United States,US,7,380,AM10,CA_26,BU861,NE0
1048571,39396,Butte,California,12-03-2022,America,New York Times,0,6007.0,USA,United States,US,0,380,AM10,CA_26,BU861,NE0
1048572,39396,Butte,California,13-03-2022,America,New York Times,0,6007.0,USA,United States,US,0,380,AM10,CA_26,BU861,NE0
1048573,39428,Butte,California,14-03-2022,America,New York Times,4,6007.0,USA,United States,US,32,384,AM10,CA_26,BU861,NE0
1048574,39434,Butte,California,15-03-2022,America,New York Times,1,6007.0,USA,United States,US,6,385,AM10,CA_26,BU861,NE0

In [15]:
coun_alpha1_ID_uni = pd.DataFrame({'CN_ALP_ID' : df['COUNTRY_ALPHA_3_CODE'].unique()})
coun_alpha2_ID_uni = pd.DataFrame({'CN_ALP_ID' : df['COUNTRY_ALPHA_2_CODE'].unique()})

coun_alpha_ID_uni = coun_alpha1_ID_uni + "_" + coun_alpha2_ID_uni

In [16]:
co_ID_uni = pd.DataFrame({'COUNTRY' : df['COUNTRY'].unique()})
co_ID_uni['CTR_ID'] = co_ID_uni['COUNTRY'].str[:2].str.upper() + pd.RangeIndex(len(df['COUNTRY'].unique())).astype(str)

co_ID_uni.set_index('COUNTRY', inplace = True)

In [17]:
Big_DS = pd.merge(Big_DS, co_ID_uni, how = 'left', on = 'COUNTRY')

Big_DS

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT,Cont_ID,PV_ID,COTY_ID,DS_ID,CTR_ID
0,19088,Delaware,Ohio,23-07-2021,America,New York Times,1,39041.0,USA,United States,US,11,138,AM10,OH_0,DE0,NE0,UN0
1,19099,Delaware,Ohio,24-07-2021,America,New York Times,0,39041.0,USA,United States,US,11,138,AM10,OH_0,DE0,NE0,UN0
2,19105,Delaware,Ohio,25-07-2021,America,New York Times,0,39041.0,USA,United States,US,6,138,AM10,OH_0,DE0,NE0,UN0
3,19120,Delaware,Ohio,26-07-2021,America,New York Times,0,39041.0,USA,United States,US,15,138,AM10,OH_0,DE0,NE0,UN0
4,19143,Delaware,Ohio,27-07-2021,America,New York Times,0,39041.0,USA,United States,US,23,138,AM10,OH_0,DE0,NE0,UN0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,39396,Butte,California,11-03-2022,America,New York Times,0,6007.0,USA,United States,US,7,380,AM10,CA_26,BU861,NE0,UN0
1048571,39396,Butte,California,12-03-2022,America,New York Times,0,6007.0,USA,United States,US,0,380,AM10,CA_26,BU861,NE0,UN0
1048572,39396,Butte,California,13-03-2022,America,New York Times,0,6007.0,USA,United States,US,0,380,AM10,CA_26,BU861,NE0,UN0
1048573,39428,Butte,California,14-03-2022,America,New York Times,4,6007.0,USA,United States,US,32,384,AM10,CA_26,BU861,NE0,UN0
1048574,39434,Butte,California,15-03-2022,America,New York Times,1,6007.0,USA,United States,US,6,385,AM10,CA_26,BU861,NE0,UN0

In [18]:
Big_DS['ID'] = Big_DS['Cont_ID'] + Big_DS['PV_ID'] + "_" + Big_DS['COTY_ID'] + Big_DS['DS_ID'] + "_" + Big_DS['CTR_ID'] + "_" + Big_DS['COUNTRY_ALPHA_2_CODE'].str[:2].str.upper()  + "-" + Big_DS['COUNTRY_ALPHA_3_CODE'].str[:2].str.upper()

In [19]:
Big_DS.set_index('ID', inplace = True)

In [20]:
Big_DS.reindex(sorted(Big_DS.columns), axis= 1)

,CONTINENT_NAME,COTY_ID,COUNTRY,COUNTRY_ALPHA_2_CODE,COUNTRY_ALPHA_3_CODE,COUNTY_FIPS_NUMBER,COUNTY_NAME,CTR_ID,Cont_ID,DATA_SOURCE_NAME,DS_ID,PEOPLE_DEATH_COUNT,PEOPLE_DEATH_NEW_COUNT,PEOPLE_POSITIVE_CASES_COUNT,PEOPLE_POSITIVE_NEW_CASES_COUNT,PROVINCE_STATE_NAME,PV_ID,REPORT_DATE
ID,,,,,,,,,,,,,,,,,,
AM10OH_0_DE0NE0_UN0_US-US,America,DE0,United States,US,USA,39041.0,Delaware,UN0,AM10,New York Times,NE0,138,1,19088,11,Ohio,OH_0,23-07-2021
AM10OH_0_DE0NE0_UN0_US-US,America,DE0,United States,US,USA,39041.0,Delaware,UN0,AM10,New York Times,NE0,138,0,19099,11,Ohio,OH_0,24-07-2021
AM10OH_0_DE0NE0_UN0_US-US,America,DE0,United States,US,USA,39041.0,Delaware,UN0,AM10,New York Times,NE0,138,0,19105,6,Ohio,OH_0,25-07-2021
AM10OH_0_DE0NE0_UN0_US-US,America,DE0,United States,US,USA,39041.0,Delaware,UN0,AM10,New York Times,NE0,138,0,19120,15,Ohio,OH_0,26-07-2021
AM10OH_0_DE0NE0_UN0_US-US,America,DE0,United States,US,USA,39041.0,Delaware,UN0,AM10,New York Times,NE0,138,0,19143,23,Ohio,OH_0,27-07-2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
AM10CA_26_BU861NE0_UN0_US-US,America,BU861,United States,US,USA,6007.0,Butte,UN0,AM10,New York Times,NE0,380,0,39396,7,California,CA_26,11-03-2022
AM10CA_26_BU861NE0_UN0_US-US,America,BU861,United States,US,USA,6007.0,Butte,UN0,AM10,New York Times,NE0,380,0,39396,0,California,CA_26,12-03-2022
AM10CA_26_BU861NE0_UN0_US-US,America,BU861,United States,US,USA,6007.0,Butte,UN0,AM10,New York Times,NE0,380,0,39396,0,California,CA_26,13-03-2022
AM10CA_26_BU861NE0_UN0_US-US,America,BU861,United States,US,USA,6007.0,Butte,UN0,AM10,New York Times,NE0,384,4,39428,32,California,CA_26,14-03-2022
AM10CA_26_BU861NE0_UN0_US-US,America,BU861,United States,US,USA,6007.0,Butte,UN0,AM10,New York Times,NE0,385,1,39434,6,California,CA_26,15-03-2022

In [21]:
type(Big_DS['REPORT_DATE'])

pandas.core.series.Series

In [22]:
Big_DS['Day'] = pd.to_datetime(Big_DS['REPORT_DATE']).dt.day

C:\Users\hafur\AppData\Local\Temp\ipykernel_27692\2841342187.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  Big_DS['Day'] = pd.to_datetime(Big_DS['REPORT_DATE']).dt.day

In [23]:
Big_DS['Day']

ID
AM10OH_0_DE0NE0_UN0_US-US       23
AM10OH_0_DE0NE0_UN0_US-US       24
AM10OH_0_DE0NE0_UN0_US-US       25
AM10OH_0_DE0NE0_UN0_US-US       26
AM10OH_0_DE0NE0_UN0_US-US       27
                                ..
AM10CA_26_BU861NE0_UN0_US-US    11
AM10CA_26_BU861NE0_UN0_US-US    12
AM10CA_26_BU861NE0_UN0_US-US    13
AM10CA_26_BU861NE0_UN0_US-US    14
AM10CA_26_BU861NE0_UN0_US-US    15
Name: Day, Length: 1048575, dtype: int32

In [24]:
Big_DS['Month'] = pd.to_datetime(Big_DS['REPORT_DATE']).dt.month

C:\Users\hafur\AppData\Local\Temp\ipykernel_27692\3238176574.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  Big_DS['Month'] = pd.to_datetime(Big_DS['REPORT_DATE']).dt.month

In [25]:
Big_DS['Year'] = pd.to_datetime(Big_DS['REPORT_DATE']).dt.year

C:\Users\hafur\AppData\Local\Temp\ipykernel_27692\1859434767.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  Big_DS['Year'] = pd.to_datetime(Big_DS['REPORT_DATE']).dt.year

In [26]:
Big_DS[['Day', 'Month', 'Year']]

                              Day  Month  Year
ID
AM10OH_0_DE0NE0_UN0_US-US      23      7  2021
AM10OH_0_DE0NE0_UN0_US-US      24      7  2021
AM10OH_0_DE0NE0_UN0_US-US      25      7  2021
AM10OH_0_DE0NE0_UN0_US-US      26      7  2021
AM10OH_0_DE0NE0_UN0_US-US      27      7  2021
...                           ...    ...   ...
AM10CA_26_BU861NE0_UN0_US-US   11      3  2022
AM10CA_26_BU861NE0_UN0_US-US   12      3  2022
AM10CA_26_BU861NE0_UN0_US-US   13      3  2022
AM10CA_26_BU861NE0_UN0_US-US   14      3  2022
AM10CA_26_BU861NE0_UN0_US-US   15      3  2022

[1048575 rows x 3 columns]

In [27]:
Big_DS['Quarter'] = pd.to_datetime(Big_DS['REPORT_DATE']).dt.quarter

C:\Users\hafur\AppData\Local\Temp\ipykernel_27692\4245881222.py:1: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  Big_DS['Quarter'] = pd.to_datetime(Big_DS['REPORT_DATE']).dt.quarter

In [28]:
Big_DS[['Day', 'Month', 'Quarter', 'Year']]

                              Day  Month  Quarter  Year
ID
AM10OH_0_DE0NE0_UN0_US-US      23      7        3  2021
AM10OH_0_DE0NE0_UN0_US-US      24      7        3  2021
AM10OH_0_DE0NE0_UN0_US-US      25      7        3  2021
AM10OH_0_DE0NE0_UN0_US-US      26      7        3  2021
AM10OH_0_DE0NE0_UN0_US-US      27      7        3  2021
...                           ...    ...      ...   ...
AM10CA_26_BU861NE0_UN0_US-US   11      3        1  2022
AM10CA_26_BU861NE0_UN0_US-US   12      3        1  2022
AM10CA_26_BU861NE0_UN0_US-US   13      3        1  2022
AM10CA_26_BU861NE0_UN0_US-US   14      3        1  2022
AM10CA_26_BU861NE0_UN0_US-US   15      3        1  2022

[1048575 rows x 4 columns]

In [29]:
Big_DS['PEOPLE_DEATH_COUNT']

ID
AM10OH_0_DE0NE0_UN0_US-US       138
AM10OH_0_DE0NE0_UN0_US-US       138
AM10OH_0_DE0NE0_UN0_US-US       138
AM10OH_0_DE0NE0_UN0_US-US       138
AM10OH_0_DE0NE0_UN0_US-US       138
                               ...
AM10CA_26_BU861NE0_UN0_US-US    380
AM10CA_26_BU861NE0_UN0_US-US    380
AM10CA_26_BU861NE0_UN0_US-US    380
AM10CA_26_BU861NE0_UN0_US-US    384
AM10CA_26_BU861NE0_UN0_US-US    385
Name: PEOPLE_DEATH_COUNT, Length: 1048575, dtype: int64

In [30]:
df['CONTINENT_NAME'].fillna(value='Others',inplace=True)

In [31]:
len(df['COUNTY_FIPS_NUMBER'].dropna())

798403

In [32]:
df['CONTINENT_NAME'].unique()

array(['America', 'Asia', 'Oceania', 'Africa', 'Europe', 'Others'],
      dtype=object)

In [33]:

df['COUNTY_NAME'].fillna(value='Others',inplace=True)

df['COUNTRY'].fillna(value='Others',inplace=True)

df['PROVINCE_STATE_NAME'].fillna(value='Others',inplace=True)

df['COUNTRY_ALPHA_3_CODE'].fillna(value='Others',inplace=True)

df['COUNTRY_ALPHA_2_CODE'].fillna(value='Others',inplace=True)

In [34]:
df['PROVINCE_STATE_NAME'].unique()

array(['Ohio', 'Missouri', 'Montana', 'Nebraska', 'New Jersey',
       'New York', 'North Carolina', 'North Dakota', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Alabama', 'Alaska',
       'American Samoa', 'Arizona', 'Arkansas', 'California', 'Colorado',
       'Virgin Islands', 'Wyoming', 'Connecticut', 'Delaware', 'Florida',
       'Georgia', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas',
       'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts',
       'Michigan', 'Minnesota', 'Mississippi', 'Nevada', 'New Hampshire',
       'Northern Mariana Islands', 'New Mexico', 'Vermont',
       'Rhode Island', 'Others', 'New Brunswick', 'Alberta', 'Anhui',
       'Australian Capital Territory', 'Hawaii', 'British Columbia',
       'Yunnan', 'District of Columbia', 'Guam', 'Gansu', 'Guizhou',
       'Hainan', 'Hebei', 'Heilongjiang', 'Henan', 'Hong Kong', 'Hubei',
       'Hunan', 'Guangdong', 'Chongqing', 'Jiangsu', 'Manitoba',
       'Ontario', 'Jiangxi', 'Jilin', 'Fujian', 'Cruise Ships', 'Unknown',
       'Guangxi', 'Repatriated Travellers', 'Newfoundland and Labrador',
       'Northern Territory', 'Northwest Territories', 'Nova Scotia',
       'Nunavut', 'Prince Edward Island', 'Quebec', 'Queensland',
       'Saskatchewan', 'Shaanxi', 'Tibet', 'Victoria',
       'Western Australia', 'Xinjiang', 'Yukon', 'New South Wales',
       'Shandong', 'Shanxi', 'Tasmania', 'Shanghai', 'Beijing',
       'Liaoning', 'Ningxia', 'South Australia', 'Qinghai', 'Macau',
       'Tianjin', 'Inner Mongolia', 'Sichuan', 'Zhejiang'], dtype=object)

In [35]:
America_DataBase = df.loc[df['CONTINENT_NAME'] == 'America', ['index', 'CONTINENT_NAME']]

KeyError: "['index'] not in index"

In [ ]:
America_DataBase

In [ ]:
cont_ID_uni = pd.DataFrame({'CONTINENT_NAME': df['CONTINENT_NAME'].unique()})
cont_ID_uni['Cont_ID'] = cont_ID_uni['CONTINENT_NAME'].str[:2].str.upper() + pd.RangeIndex(start = 10, stop = 16, step = 1).astype(str)


cont_ID_uni

In [ ]:
prov_ID_uni = pd.DataFrame({'PROVINCE_STATE_NAME' : df['PROVINCE_STATE_NAME'].unique()})
prov_ID_uni['PV_ID'] = prov_ID_uni['PROVINCE_STATE_NAME'].str[:2].str.upper() + "_" + pd.RangeIndex(len(df['PROVINCE_STATE_NAME'].unique())).astype(str)

prov_ID_uni['PV_ID']

In [ ]:
coun_ID_uni = pd.DataFrame({'COUNTY_NAME' : df['COUNTY_NAME'].unique()})
coun_ID_uni['COTY_ID'] = coun_ID_uni['COUNTY_NAME'].str[:2].str.upper() + pd.RangeIndex(len(df['COUNTY_NAME'].unique())).astype(str)

coun_ID_uni

In [ ]:
dt_ID_uni = pd.DataFrame({'DATA_SOURCE_NAME' : df['DATA_SOURCE_NAME'].unique()})
dt_ID_uni['DS_ID'] = dt_ID_uni['DATA_SOURCE_NAME'].str[:2].str.upper() + pd.RangeIndex(len(df['DATA_SOURCE_NAME'].unique())).astype(str)

dt_ID_uni

In [ ]:
coun_alpha1_ID_uni = pd.DataFrame({'CN_ALP_ID' : df['COUNTRY_ALPHA_3_CODE'].unique()})
coun_alpha2_ID_uni = pd.DataFrame({'CN_ALP_ID' : df['COUNTRY_ALPHA_2_CODE'].unique()})

coun_alpha_ID_uni = coun_alpha1_ID_uni + "_" + coun_alpha2_ID_uni

In [ ]:
coun_alpha_ID_uni

In [ ]:
print(len(df['COUNTRY_ALPHA_3_CODE'].unique()))
len(df['COUNTRY_ALPHA_2_CODE'].unique())

In [ ]:
co_ID_uni = pd.DataFrame({'COUNTRY' : df['COUNTRY'].unique()})
co_ID_uni['CTR_ID'] = co_ID_uni['COUNTRY'].str[:2].str.upper() + pd.RangeIndex(len(df['COUNTRY'].unique())).astype(str)

co_ID_uni

In [ ]:
Big_DS = cont_ID_uni.join(df.set_index('CONTINENT_NAME'), on = 'CONTINENT_NAME')

In [ ]:
Big_DS

In [ ]:
q1 = """
    SELECT * FROM Big_DS WHERE CONTINENT_NAME = 'America'
"""

pdsql.sqldf(q1, locals())

In [ ]:
Big_DS = pd.merge(Big_DS, prov_ID_uni, how = 'left', on ='PROVINCE_STATE_NAME')

In [ ]:
Big_DS = pd.merge(Big_DS, coun_ID_uni, how = 'left', on = 'COUNTY_NAME')

In [ ]:
Big_DS = pd.merge(Big_DS, co_ID_uni, how = 'left', on = 'COUNTRY')

In [ ]:
Big_DS = pd.merge(Big_DS, dt_ID_uni, how = 'left', on = 'DATA_SOURCE_NAME')

In [ ]:
Big_DS.dropna()

In [ ]:
Big_DS['ID'] = Big_DS['Cont_ID'] + Big_DS['PV_ID'] + "_" + Big_DS['COTY_ID'] + Big_DS['DS_ID'] + "_" + Big_DS['CTR_ID'] + "_" + Big_DS['COUNTRY_ALPHA_2_CODE'].str[:2].str.upper()  + "-" + Big_DS['COUNTRY_ALPHA_3_CODE'].str[:2].str.upper()

In [ ]:
Big_DS.set_index('ID', inplace = True)

In [ ]:
Big_DS.reindex(sorted(Big_DS.columns), axis= 1)

In [ ]:
Big_DS['CONTINENT_NAME'].unique()

In [ ]:
Big_DS

In [ ]:
len(Big_DS['COTY_ID'].unique())

In [ ]:
a = Big_DS[Big_DS['CONTINENT_NAME'] == 'America']
print(len(a['DS_ID'].unique()))
print(len(a['CTR_ID'].unique()))

In [ ]:
len(Big_DS['CTR_ID'].unique())

In [ ]:
b = Big_DS.dropna()

In [ ]:
Big_DS['CONTINENT_NAME'].unique()

In [ ]:
b['CONTINENT_NAME'].unique()

In [ ]:
b['CTR_ID'].unique()

In [ ]:
Big_DS['CTR_ID'].unique()

In [ ]:
Big_DS['PEOPLE_POSITIVE_CASES_COUNT']

In [ ]:
Big_DS['PEOPLE_DEATH_NEW_COUNT'].unique()
# df['PEOPLE_DEATH_NEW_COUNT'].unique()

In [ ]:
c = df.dropna()

In [ ]:
b['DS_ID'].unique()

In [ ]:
Big_DS['DS_ID'].unique()

In [ ]:
c

In [ ]:
c['CONTINENT_NAME'].unique()

In [ ]:
Big_DS.fillna(0, inplace = True)

In [ ]:
Big_DS['DS_ID'].unique()

In [ ]:
AM_CO = Big_DS[Big_DS['CONTINENT_NAME'] == 'America']

In [ ]:
AM_CO

In [ ]:
print(len(AM_CO['PEOPLE_POSITIVE_CASES_COUNT'].unique()))
print(len(AM_CO['PEOPLE_DEATH_NEW_COUNT'].unique()))
print(len(AM_CO['COUNTY_FIPS_NUMBER'].unique()))
print(len(AM_CO['PEOPLE_POSITIVE_NEW_CASES_COUNT'].unique()))
print(len(AM_CO['PEOPLE_DEATH_COUNT'].unique()))

In [ ]:
print(len(AM_CO['COUNTY_NAME'].unique()))
print(len(AM_CO['PROVINCE_STATE_NAME'].unique()))
print(len(AM_CO['COUNTRY'].unique()))
print(len(AM_CO['COUNTRY_ALPHA_3_CODE'].unique()))
print(len(AM_CO['COUNTRY_ALPHA_2_CODE'].unique()))

In [ ]:
print(len(Big_DS['CTR_ID'].unique()))
print(len(Big_DS['COTY_ID'].unique()))

In [ ]:
AF_CO = Big_DS[Big_DS['CONTINENT_NAME'] == 'Africa']
AS_CO = Big_DS[Big_DS['CONTINENT_NAME'] == 'Asia']
ON_CO = Big_DS[Big_DS['CONTINENT_NAME'] == 'Oceania']
EP_CO = Big_DS[Big_DS['CONTINENT_NAME'] == 'Europe']
OT_CO = Big_DS[Big_DS['CONTINENT_NAME'] == 'Others']

In [ ]:
AF_CO

In [ ]:
print(len(AF_CO['PEOPLE_POSITIVE_CASES_COUNT'].unique()))
print(len(AF_CO['PEOPLE_DEATH_NEW_COUNT'].unique()))
print(len(AF_CO['COUNTY_FIPS_NUMBER'].unique()))
print(len(AF_CO['PEOPLE_POSITIVE_NEW_CASES_COUNT'].unique()))
print(len(AF_CO['PEOPLE_DEATH_COUNT'].unique()))

In [ ]:
print(len(AF_CO['COUNTY_NAME'].unique()))
print(len(AF_CO['PROVINCE_STATE_NAME'].unique()))
print(len(AF_CO['COUNTRY'].unique()))
print(len(AF_CO['COUNTRY_ALPHA_3_CODE'].unique()))
print(len(AF_CO['COUNTRY_ALPHA_2_CODE'].unique()))

In [ ]:
AS_CO

In [ ]:
print(len(AS_CO['PEOPLE_POSITIVE_CASES_COUNT'].unique()))
print(len(AS_CO['PEOPLE_DEATH_NEW_COUNT'].unique()))
print(len(AS_CO['COUNTY_FIPS_NUMBER'].unique()))
print(len(AS_CO['PEOPLE_POSITIVE_NEW_CASES_COUNT'].unique()))
print(len(AS_CO['PEOPLE_DEATH_COUNT'].unique()))

In [ ]:
print(len(AS_CO['COUNTY_NAME'].unique()))
print(len(AS_CO['PROVINCE_STATE_NAME'].unique()))
print(len(AS_CO['COUNTRY'].unique()))
print(len(AS_CO['COUNTRY_ALPHA_3_CODE'].unique()))
print(len(AS_CO['COUNTRY_ALPHA_2_CODE'].unique()))

In [ ]:
ON_CO

In [ ]:
print(len(ON_CO['PEOPLE_POSITIVE_CASES_COUNT'].unique()))
print(len(ON_CO['PEOPLE_DEATH_NEW_COUNT'].unique()))
print(len(ON_CO['COUNTY_FIPS_NUMBER'].unique()))
print(len(ON_CO['PEOPLE_POSITIVE_NEW_CASES_COUNT'].unique()))
print(len(ON_CO['PEOPLE_DEATH_COUNT'].unique()))

In [ ]:
print(len(ON_CO['COUNTY_NAME'].unique()))
print(len(ON_CO['PROVINCE_STATE_NAME'].unique()))
print(len(ON_CO['COUNTRY'].unique()))
print(len(ON_CO['COUNTRY_ALPHA_3_CODE'].unique()))
print(len(ON_CO['COUNTRY_ALPHA_2_CODE'].unique()))

In [ ]:
EP_CO

In [ ]:
print(len(EP_CO['PEOPLE_POSITIVE_CASES_COUNT'].unique()))
print(len(EP_CO['PEOPLE_DEATH_NEW_COUNT'].unique()))
print(len(EP_CO['COUNTY_FIPS_NUMBER'].unique()))
print(len(EP_CO['PEOPLE_POSITIVE_NEW_CASES_COUNT'].unique()))
print(len(EP_CO['PEOPLE_DEATH_COUNT'].unique()))

In [ ]:
print(len(EP_CO['COUNTY_NAME'].unique()))
print(len(EP_CO['PROVINCE_STATE_NAME'].unique()))
print(len(EP_CO['COUNTRY'].unique()))
print(len(EP_CO['COUNTRY_ALPHA_3_CODE'].unique()))
print(len(EP_CO['COUNTRY_ALPHA_2_CODE'].unique()))

In [ ]:
OT_CO

In [ ]:
OT_CO['PEOPLE_POSITIVE_CASES_COUNT'].unique()

In [ ]:
print(len(OT_CO['PEOPLE_POSITIVE_CASES_COUNT'].unique()))
print(len(OT_CO['PEOPLE_DEATH_NEW_COUNT'].unique()))
print(len(OT_CO['COUNTY_FIPS_NUMBER'].unique()))
print(len(OT_CO['PEOPLE_POSITIVE_NEW_CASES_COUNT'].unique()))
print(len(OT_CO['PEOPLE_DEATH_COUNT'].unique()))

In [ ]:
print(len(OT_CO['COUNTY_NAME'].unique()))
print(len(OT_CO['PROVINCE_STATE_NAME'].unique()))
print(len(OT_CO['COUNTRY'].unique()))
print(len(OT_CO['COUNTRY_ALPHA_3_CODE'].unique()))
print(len(OT_CO['COUNTRY_ALPHA_2_CODE'].unique()))

In [ ]:
Q1_PPCC = Big_DS['PEOPLE_POSITIVE_CASES_COUNT'].quantile(0.25)
Q2_PPCC = Big_DS['PEOPLE_POSITIVE_CASES_COUNT'].quantile(0.75)

IQR_PPCC = Q2_PPCC - Q1_PPCC

Big_DS = Big_DS[~((Big_DS['PEOPLE_POSITIVE_CASES_COUNT'] < (Q1_PPCC - (1.5 * IQR_PPCC))) | (Big_DS['PEOPLE_POSITIVE_CASES_COUNT'] > (Q2_PPCC + (1.5 * IQR_PPCC))))]

In [ ]:
Big_DS['PEOPLE_DEATH_NEW_COUNT'].unique()

In [ ]:
Q1_PDNC = Big_DS['PEOPLE_DEATH_NEW_COUNT'].quantile(0.25)
Q2_PDNC = Big_DS['PEOPLE_DEATH_NEW_COUNT'].quantile(0.75)

IQR_PDNC = Q2_PDNC - Q1_PDNC

Big_DS = Big_DS[~((Big_DS['PEOPLE_DEATH_NEW_COUNT'] < (Q1_PDNC - (1.5 * IQR_PDNC))) | (Big_DS['PEOPLE_DEATH_NEW_COUNT'] > (Q2_PDNC + (1.5 * IQR_PDNC))))]

In [ ]:
print(Big_DS['PEOPLE_POSITIVE_CASES_COUNT'].mean())
print(Big_DS['PEOPLE_DEATH_NEW_COUNT'].mean())

In [ ]:
Big_DS['PEOPLE_DEATH_NEW_COUNT'].unique()